	.body{
		width: 100%;
		top: 0;
	}

	.home-page{
		position: relative;
		top: 0px;
	}


	.about-us{
		position: relative;
		top: 0;
	}

	video{
	position: absolute;
	  top: 0;
	  left: 0;
	  z-index: -1;
	  height: 400px;
	  width: 100%;
	  object-fit: fill;
	}

.all-content{
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 24.5% 50% 24.5%;
	grid-template-rows:auto;
	grid-column-gap:0.5% ;
   	grid-row-gap:0.2%  ;
	position: absolute;
	top: 420px;

}

.services1{
	background-color: blue;
	font-size: 30px;
	text-align: center;
	color: yellow;
	box-shadow: inset 4px 4px 5px 1px darkblue,inset -4px -4px 5px 1px darkblue;
	border-radius: 10%;
}

.services2{
	background-color: blue;
	font-size: 30px;
	text-align: center;
	color: yellow;
	box-shadow: inset 4px 4px 5px 1px darkblue,inset -4px -4px 5px 1px darkblue;
	border-radius: 10%;
}

.about-topic{
	background-color: green;
	font-size: 30px;
	text-align: center;
	color: yellow;
	box-shadow: inset 4px 4px 5px 1px darkgreen,inset -4px -4px 5px 1px darkgreen;
	border-radius: 10%;
}

	.about-content{
		box-sizing: border-box;
		position: relative;
		padding: 1%;
		
		justify-content: center;
		text-align: center;
		background-color: yellowgreen;
		box-shadow: inset 4px 4px 5px 1px green,inset -4px -4px 5px 1px green;
		border-radius: 5%;
		grid-column-start: 2;
    	grid-column-end: 3; 
    	grid-row-start: 2;
    	grid-row-end: 4;
		
	}

	.wedding{
		box-sizing: border-box;
		padding: 2%;
		position: relative;
		background-color: skyblue;
		box-shadow: inset 4px 4px 5px 1px Blue,inset -4px -4px 5px 1px Blue;
		border-radius: 5%;

	}

	.wedding img{
		position: absolute;
		width: 96%;
		border-radius: 5%;
	}

	.wedding h4{
		text-align: center;
	}

	.accomodation{
		box-sizing: border-box;
		padding: 2%;
		position: relative;
		background-color: skyblue;
		box-shadow: inset 4px 4px 5px 1px Blue,inset -4px -4px 5px 1px Blue;
		border-radius: 5%;

	}

	.accomodation img{
		position: absolute;
		width: 96%;
		border-radius: 5%;
		
	}

	.tour{
		box-sizing: border-box;
		padding: 2%;
		position: relative;
		background-color: skyblue;
		box-shadow: inset 4px 4px 5px 1px Blue,inset -4px -4px 5px 1px Blue;
		border-radius: 5%;

	}
	

	.tour img{
		position: absolute;
		width: 96%;
		border-radius: 5%;
		
	}

	.tour h4{
		text-align: center;
	}



	.food{
		box-sizing: border-box;
		padding: 2%;
		position: relative;
		background-color: skyblue;
		box-shadow: inset 4px 4px 5px 1px Blue,inset -4px -4px 5px 1px Blue;
		border-radius: 5%;

	}

	.food img{
		position: absolute;
		width: 96%;
		border-radius: 5%;
	}

	.food h4{
		text-align: center;
	}


	.about-content p{
		font-style: italic;
		color: darkblue;
	}
   
